@model AnalizesProjektas.Models.Shipment

@{
    ViewData["Title"] = "checkIfDriverRegistered";
}

<h2>checkIfDriverRegistered</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Busena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Busena)
        </dd>
    </dl>
</div>
<div>
    @if (Model.supplier != null)
    {
    @if (Model.driver == null)
    {
        <a asp-action="DriverForm" asp-route-id="@Model.ShipmentId">DriverForm</a>
    }
    else
    {
        <h4>Driver info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.driver.MasinosBusena)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.driver.MasinosBusena)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.driver.MasinosModelis)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.driver.MasinosModelis)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.driver.MasinosNr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.driver.MasinosNr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.driver.MasinosTipas)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.driver.MasinosTipas)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.driver.Vardas)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.driver.Vardas)
            </dd>
        </dl>



    }
    @if (Model.gateTime == null)
    {
        <a asp-action="EditDriverForm" asp-route-id="@Model.ShipmentId">EditDriver</a>
        <a asp-action="ReggisterArrival" asp-route-id="@Model.ShipmentId">ReggisterArrival</a>
    }
    else
    {
        <a asp-action="ReggisterDelay" asp-route-id="@Model.ShipmentId">ReggisterDelay</a>
    }
    }
</div>
