@model AnalizesProjektas.Models.Shipment

@{
    ViewData["Title"] = "register";
}

<h2>Approve Shipment</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayName("Produktai")
        </dt>
        <dd>
            @if (Model.Products != null)
            {
                @foreach (var item in Model.Products)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SendingProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>

            </tr>
                }
            }
            }
        </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Busena)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Busena)
            </dd>
            @if (Model.supplier != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.supplier)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.supplier.ImonesPavadinimas)
                </dd>
            }
            @if (Model.driver != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.driver)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.driver.Vardas)
                </dd>
            }
        </dl>
</div>
@if (Model.supplier == null)
{
    <h4>Sign Document</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="submitSupplierForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="supplier.ImonesPavadinimas" class="control-label"></label>
                    <input asp-for="supplier.ImonesPavadinimas" class="form-control" />
                    <span asp-validation-for="supplier.ImonesPavadinimas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="supplier.TelefonoNr" class="control-label"></label>
                    <input asp-for="supplier.TelefonoNr" class="form-control" />
                    <span asp-validation-for="supplier.TelefonoNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="supplier.VardasPavarde" class="control-label"></label>
                    <input asp-for="supplier.VardasPavarde" class="form-control" />
                    <span asp-validation-for="supplier.VardasPavarde" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="ShipmentId" style="display: none" value="@ViewBag.ShipmentId">
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
 }
