@model IEnumerable<AnalizesProjektas.Models.Shipment>

@{
    ViewData["Title"] = "Index";
}

<h2>Arriving transport</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.driver.MasinosNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gateTime.Gate.Vieta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gateTime.Diena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driver.AtvykimoLaikas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driver.IsvykimoLaikas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driver.MasinosBusena)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.driver.MasinosNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gateTime.Gate.Vieta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gateTime.Diena)
            </td>
            <td>
                @if (item.driver.AtvykimoLaikas == null)
                {
                <form action="/Arrivals/Edit/@item.ShipmentId" method="post">
                    <input type="text" name="busena" style="display: none" value="1">
                    <button type="submit">ARRIVED</button>
                </form>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.driver.AtvykimoLaikas);
                }
             </td>
            <td>
                @if (item.driver.IsvykimoLaikas == null)
                {
                    <form action="/Arrivals/Edit/@item.ShipmentId" method="post">
                        <input type="text" name="busena" style="display: none" value="2">
                        <button type="submit">LEFT</button>
                    </form>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.driver.IsvykimoLaikas);
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.driver.MasinosBusena)
            </td>
        </tr>
}
    </tbody>
</table>
